{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Open Graph -->
        <meta property="og:title" content="Blogzzly" />
        <meta property="og:description" content="Dive into the world of Curiosity and New Ideas" />
        <meta property="og:image" content="{% static 'images/preview.jpg' %}" />
        <meta property="og:url" content="https://blogzzly.vercel.app" />
        <meta property="og:type" content="website" />
        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Blogzzly" />
        <meta name="twitter:description" content="Dive into the world of Curiosity and New Ideas" />
        <meta name="twitter:image" content="{% static 'images/preview.jpg' %}" />
        <!-- Scripts -->
        <script src="https://kit.fontawesome.com/9db003e82b.js" crossorigin="anonymous"></script>
        <script defer src="{% static 'js/script.js' %}"></script>
        
        <title>Blogzzly</title>

        <!-- Favicon -->
        <link rel='icon' type='image/x-icon' href="{% static '/images/favicon.png' %}" />

        <!-- Tailwind -->
        {% tailwind_css %}

        <!-- Theme Checking for Initial Load -->
        <script>
            (
                function() {
                    const defaultTheme = localStorage.getItem("theme") || "light";
                    document.documentElement.classList.toggle("dark", defaultTheme === "dark");
                }
            )();
        </script>

    </head>

    <body>
        
        <div class="min-h-screen overflow-hidden bg-slate-100 dark:bg-slate-900 text-gray-800 dark:text-gray-200">
            <div class="overflow-hidden">
                <div class='relative'>
                    <!-- NavBar -->
                    {% include './Navbar.html' %}
                </div>

                <div class="mx-auto pt-20">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div> 
        </div>

    </body>

</html>