<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Open Graph -->
        <meta property="og:title" content="Blogzzly" />
        <meta property="og:description" content="Dive into the world of Curiosity and New Ideas" />
        <meta property="og:image" content="{{ url_for('static', filename='images/preview.jpg') }}" />
        <meta property="og:url" content="https://blogzzly.vercel.app" />
        <meta property="og:type" content="website" />
        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Blogzzly" />
        <meta name="twitter:description" content="Dive into the world of Curiosity and New Ideas" />
        <meta name="twitter:image" content="{{ url_for('static', filename='images/preview.jpg') }}" />
        <!-- Scripts -->
        <script src="https://kit.fontawesome.com/9db003e82b.js" crossorigin="anonymous"></script>
        <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
        
        <title>Blogzzly</title>

        <!-- Favicon -->
        <link rel='icon' type='image/x-icon' href="{{ url_for('static', filename='images/favicon.png') }}" />

        <!-- CSS -->
        <link rel='stylesheet' href="{{ url_for('static', filename='css/output.css') }}" />

        <!-- Theme Checking for Initial Load -->
        <script>
            (
                function() {
                    document.documentElement.classList.toggle("dark",
                    localStorage.theme === "dark" ||
                        (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches),
                    );
                }
            )();
        </script>

    </head>

    <body>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        <div class="flex flex-col min-h-screen overflow-hidden bg-slate-100 dark:bg-slate-900 text-gray-800 dark:text-gray-200">
            <div class="overflow-hidden">
                <div class='relative'>
                    {% include './Navbar.html' %}
                </div>

                <div class="grow mx-auto pt-20">
                    {% block content %}
                    {% endblock content %}
                </div>

                <div>
                    {% include './Footer.html' %}
                </div>
            </div> 
        </div>

    </body>

</html>