<footer class="mx-auto mt-10 w-full max-w-container px-4 sm:px-6 lg:px-8" aria-labelledby="footer-heading">
    <div class="items-center grid grid-cols-1 justify-between gap-4 border-t border-gray-100 py-6 md:grid-cols-2">
        <p class="text-sm/6 text-gray-600 max-md:text-center">
            ©{{ year }}
            <a href="https://tarv.vercel.app">Tirva</a>. All rights reserved.
        </p>
        <div class="flex items-center justify-center space-x-4 text-sm/6 text-gray-500 md:justify-end">
            <a href="https://github.com/Travcort" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>
            </a>
            <div class="h-4 w-px bg-gray-200"></div>
            <a href="https://linkedin.com/in/tarvone" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>
</footer>